.button {
  background-color: map-get($colors, buttons, primary);
  &,
  &:focus,
  &:hover,
  &:active.btn:active {
    color: map-get($colors, buttons, primary-text);
  }
  &:focus,
  &:hover,
  &:active.btn:active {
    border-color: map-get($colors, secondary);
    background-color: map-get($colors, buttons, primary-hover);
  }
  &--rounded {
    border-radius: 20px;
  }
}
