.footer {
  // footer can't stretch nor shrink in the block axis
  @include flex(row, center, center, $flex: 0);

  background-color: map-get($colors, primary);
  padding: 10px; // the size of the footer will be determined automatically by the size of the content and this padding

  &__link {
    &s {
      @include flex(row wrap, center, $gap: 20px);
    }

    &,
    &:focus,
    &:hover,
    &:active.btn:active {
      color: map-get($colors, primary-text);
    }
    &:focus,
    &:hover,
    &:active.btn:active {
      border-color: map-get($colors, secondary-emphasis);
      background-color: map-get($colors-variations, secondary-dark-2);
    }

    & {
      min-width: 200px;
      background-color: map-get($colors, secondary);

      &:link:not(:hover):not(:active) {
        box-shadow: none;
      }
    }
  }
}

// footer.footer {
//   & .footer__link {
//     &:focus,
//     &:hover,
//     &:active.btn:active {
//       border-color: map-get($colors, secondary-emphasis);
//       background-color: map-get($colors-variations, secondary-dark-2);
//     }
//   }
// }

.go-to-top-button {
  &,
  &:visited {
    cursor: pointer;
    @include flex(row, center, center);
    @include position(fixed, $left: 98%, $bottom: 65px, $right: 0);
    @include sizes(45px, 45px);
    transform: translateX(-100%);
    border-radius: 50%;
    font-size: 30px;
    color: map-get($colors, primary-contrast);
    background-color: map-get($colors-variations, secondary-light-4);
    @include box-shadow(
      true,
      $offsets: (x: 0, y: -1px),
      $radii: (blur: 6px, spread: 3.2px),
      $color: (color-channel: #000, alpha-channel: 0.25)
    );
  }
}
