.header {
  @include flex(row, space-between, center, 5%);
  width: 100%;
  padding: 5px 0;
  position: relative;
  z-index: 103;
  @include box-shadow(
      false,
      $offsets: (x: 0, y: map-get($box-shadows, offset)),
      $radii: map-get($box-shadows, radii),
      $color: map-get($box-shadows, colors)
    );
  background-color: map-get($colors, primary);
  color: map-get($colors, primary-text);
  &__button {
    &s {
      @include flex(row wrap, center, center, $flex: 1 1 20%);
      @media (min-width: map-get($breakpoints, tablet-min)) {
        flex: 0 1 map-get($sizes, sidebar);
      }

      &--social {
        display: flex;
        gap: 10px;

        &--header {
          display: none;
          @media (min-width: map-get($breakpoints, tablet-min)) {
            display: flex;
          }
        }

        &--navbar {
          margin-top: 15px;
        }
      }
    }
  }

  &__logo {
    &-container {
      flex: 1 1 20%;
      @media (min-width: map-get($breakpoints, tablet-min)) {
        flex: 0 0 map-get($sizes, sidebar);
      }
      height: 100%;
      padding: 5px 10px;
    }

    & {
      object-fit: contain;
      max-height: 80px;
    }
  }

  &__title {
    &s {
      @include flex(column, center, center, 2px, 1 1 40%);
      @media (min-width: map-get($breakpoints, tablet-min)) {
        @include flex(row, $gap: 15px);
      }
    }

    & {
      text-align: center;
    }

    &--main {
      font-size: 1.6rem;
    }
    &--secondary {
      font-size: 0.9rem;
    }

    @media (min-width: map-get($breakpoints, mobile-min)) {
      &--main {
        font-size: 1.7rem;
      }
      &--secondary {
        font-size: 1.2rem;
      }
    }
  }

  &__icon {
    &-social {
      font-size: 1.7rem;
      color: map-get($colors, primary-text);
    }
  }
}
