.navibar {
  background-color: map-get($colors, primary-contrast);

  & * {
    color: map-get($colors, primary-text);
    font-weight: 600;
  }

  @at-root {
    .navbar#navbarTogglerContainer,
    &--header {
      @media (min-width: map-get($breakpoints, tablet-min)) {
        display: none;
      }
    }
  }

  &__toggler {
  }

  &__list {
    @include flex(column, center, $gap: 20px);
  }

  &__link {
    @include flex($align-i: center, $flex: 0 1 300px);
    width: 95%;
    padding: 12px;
    padding-left: 5px;
    border: 2px solid #0000;

    &:not(&.button--rounded) {
      border-left: none;
      border-radius: 0 20px 20px 0;
    }

    &:hover,
    &.active-link {
      @include box-shadow(
        false,
        $offsets: (x: 0, y: 2px),
        $radii: (blur: 5px, spread: -2px),
        $color: (color-channel: #000, alpha-channel: 0.25)
      );
    }

    &:hover,
    &-text {
      transition: all 0.5s ease-in-out;
    }

    &:not(&.active-link):hover {
      background-color: map-get($colors-variations, secondary-dark-2);
      border-color: map-get($colors, secondary-emphasis);
    }

    &:hover > &-text {
      transform: translateX(10px);
    }

    &.active-link {
      width: 100%;
      @include flex($justify-c: center);
      background-color: map-get($colors, secondary);
      border-color: map-get($colors, secondary);
      cursor: default;
    }
  }

  &--header {
    @include flex;
    border-radius: 0 0 10px 10px;
    @include box-shadow(
      false,
      $offsets: (x: 0, y: map-get($box-shadows, offset)),
      $radii: map-get($box-shadows, radii),
      $color: map-get($box-shadows, colors)
    );
    @media (min-width: map-get($breakpoints, tablet-min)) {
      display: none;
    }

    &--absolute {
      position: absolute;
      top: 100%;
      width: 100%;
    }

    &__toggler {
      & {
        background-color: map-get($colors, primary-text);
      }

      &,
      &:focus {
        @include box-shadow(
          false,
          $radii: (blur: 0, spread: 0.5px),
          $color: (color-channel: #000, alpha-channel: 0.184)
        );
      }
    }

    &__list {
      &,
      &-element {
        width: 100%;
      }
      @include flex(column, $align-i: center, $gap: 5px);
      padding: 10px 0;

      &-element {
        @include flex(row, center, center);
      }
    }

    &__link {
      @include flex(row, center);
      padding: 5px;

      &-text {
        text-align: center;
      }

      &:hover,
      &-text {
        transition-property: background-color, transform;
        transition-duration: 0.3s;
        transition-timing-function: ease-in-out;
      }

      &:hover > &-text {
        transform: translateY(-1px);
      }
    }
  }

  &--sidebar {
    display: none;
    z-index: 102;
    @include transition(transform, 0.5s, ease-in-out);
    @include box-shadow(
      false,
      $offsets: (x: map-get($box-shadows, offset), y: 0),
      $radii: map-get($box-shadows, radii),
      $color: map-get($box-shadows, colors)
    );
    @media (min-width: map-get($breakpoints, tablet-min)) {
      margin-left: -1 * map-get($sizes, sidebar);
      transform: translateX(map-get($sizes, sidebar)); // sidebar start
      @include flex(row, $align-i: flex-start);
    }
    &__toggler {
      flex: 1;
      background-color: map-get($colors, primary);
      border: none;
      padding: 5px;
      &,
      & * {
        font-size: 1.5rem;
        color: map-get($colors, primary-text);
      }

      & * {
        @include transition(transform, 0.5s, ease-in-out);
        transform-origin: center;
        transform: rotateZ(0deg);
      }

      & #togglerSidebarArrow {
        @include flex;
      }
    }

    &__list {
      padding-top: 100px;
      width: map-get($sizes, sidebar);
    }
  }
}

.sidebar-close {
  transform: translateX(0);
}

.rotate-toggler-arrow {
  transform: rotateZ(180deg);
}

.navbar-backdrop {
  @include transition(
    "background-color, backdrop-filter, z-index",
    0.2s,
    ease-in
  );
  z-index: -1;

  @media (min-width: map-get($breakpoints, mobile-min)) {
    transition-property: 0.5s;
  }
}

.backdrop-show {
  z-index: 101;
  backdrop-filter: blur(2px);
  background-color: rgba(map-get($colors, gray-coco), 0.4);
}
