.photocard {
  &s {
    // photocards
    display: grid;
    gap: 20px;
    padding: 20px;
    grid-template-columns: minmax(0, 1fr);
    @media (min-width: 300px) {
      @include fluid-grid(200px);
    }
    @media (min-width: 400px) {
      @include fluid-grid(300px);
    }
    @media (min-width: map-get($breakpoints, mobile-min)) {
      @include fluid-grid(400px);
    }
    @media (min-width: map-get($breakpoints, tablet-min)) {
      @include fluid-grid(350px);
    }

    // putting this at the end of the cascade so it overrides every style when on landscape and height is <= mobile-max
    @media (orientation: landscape) and (max-height: map-get($breakpoints, mobile-max)) {
      grid-template-columns: minmax(0, 1fr);
    }
  }

  & {
    // photocard
    height: 80vh; // on mobile the height will be fixed to 80vh;
    @include flex(column, flex-start, center, 20px);
    padding: 15px; // on mobile, low padding so the content of the cards takes more area inside of the photocard
    border-radius: 10px;
    background-color: map-get($colors, buttons, primary);
    @include box-shadow(
      false,
      $offsets: (x: 0, y: 2px),
      $radii: (blur: 7px, spread: 0),
      $color: (color-channel: #000, alpha-channel: 0.34)
    );
    @media (min-width: map-get($breakpoints, mobile-min)) {
      padding: 20px;
    }
    @media (min-height: map-get($breakpoints, tablet-min)) {
      height: 800px; // when we reach a height of tablet-min, fix height
    }
    @media (orientation: landscape) and (max-height: map-get($breakpoints, mobile-max)) {
      height: 20rem; // when we are on landscape and when the height is less than mobile-max, fix height
      padding: 15px;
      @include flex(row, center, $gap: 10px);
    }
  }

  &__footer {
    align-self: stretch;
    flex: 1;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    padding: 10px;
    font-weight: 400;
    border-radius: 8px;
    @include box-shadow(
      true,
      $offsets: (x: 0, y: -2px),
      $radii: (blur: 18px, spread: -2px),
      $color: (color-channel: #000, alpha-channel: 0.343)
    );

    @media (orientation: landscape) and (max-height: map-get($breakpoints, mobile-max)) {
      height: 100%;
    }
  }
}
