.main {
  &--contact {
    flex: 0 1 800px;
    margin: 0 auto;

    &-form {
      @include flex(column, $align-i: center, $gap: 5px);
      @media (min-width: map-get($breakpoints, mobile-min)) {
        gap: 10px;
      }

      &__button {
        &s {
          width: 100%;
          @include flex(column, center, stretch, 5px);
          @media (min-width: 300px) {
            @include flex(row, flex-end, $gap: 5px);
          }
        }

        & {
          padding-left: 30px;
          padding-right: 30px;
        }
      }
    }
  }
}
