.main {
  &--gallery {
    &__selects {
      width: 100%;
      padding: 0 20px;
      gap: 10px 20px;
      display: grid;
      place-content: center center;
      grid-template-columns: minmax(0, 1fr);
      @media (min-width: map-get($breakpoints, mobile-min)) {
        @include fluid-grid(300px, 0.8fr);
      }
    }
  }
}
