.body-container {
  &--homepage {
    @include background-image("../assets/images/solar-panel-3_small.jpg");
  }
}

.main {
  &--homepage {
    background-color: rgba(map-get($colors, bg-primary), 0.3);
    height: 100%;
    padding: 10%;
    font-size: map-get($font-size, homepage, base);

    @include flex(column, center, center, 15px);

    @media (min-width: map-get($breakpoints, tablet-min)) {
      padding: 5% 8%;
    }

    &__title,
    &__content {
      max-width: map-get($breakpoints, desktop-min);
      width: 100%;
      border-radius: 10px;
      color: map-get($colors, primary-text);
      background-color: map-get($colors, primary-contrast);
    }

    &__title {
      font-size: map-get($font-size, homepage, base) + 1rem;
      padding: 5px;
      margin: 0; // overriding styles in .main__title
      text-align: center;
    }

    &__content {
      @include flex(column, $align-i: start, $gap: 20px);
      padding: 15px;

      &-text {
        @include flex(column, $gap: 5px);
      }
    }

    &__link {
      // "Contáctanos" button
      &#contactButton {
        align-self: center;

        @media (min-width: map-get($breakpoints, tablet-min)) {
          width: 250px;
          align-self: flex-end;
        }
      }

      &s {
        width: 100%;
        @include flex(column, space-around, center, 5px);

        @media (min-width: map-get($breakpoints, tablet-min)) {
          @include flex(row, center, end, 30px);
        }
      }

      &-container {
        width: 100%;
        @include flex(column, $align-i: center, $gap: 2px, $flex: 50%);

        @media (min-width: map-get($breakpoints, tablet-min)) {
          flex: 0 1 250px;
        }
      }

      &-label {
        text-align: center;
      }

      & {
        width: 100%;
        max-width: 300px;
      }
    }
  }
}
