.body-container {
  &--homepage {
    // background-color: map-get($colors, );
    // background-image: url("../../../src/assets/images/solar-panel-2.jpg");
    // background-repeat: no-repeat;
    // background-position: right -200px bottom 0;
    // background-size: cover;

    @include background-image("../../../src/assets/images/solar-panel-3.jpg");
    @media (min-width: map-get($breakpoints, tablet-min)) {
      background-size: contain;
    }
  }
}

.main {
  &--homepage {
    background-color: rgba(map-get($colors, bg-primary), 0.5);
    height: 100%;
    display: grid;
    grid-template-areas:
      "title    title"
      "content  aside";
    grid-template-rows: repeat(2, min-content);
    grid-template-columns: 60fr 40fr;
    align-content: center;
    gap: 10px 15px;
    align-items: start;
    font-size: 18px;
    padding: 20px;

    @media (min-width: map-get($breakpoints, tablet-min)) {
      grid-template-areas:
        "title    aside"
        "content  aside";
      padding: 5% 10%;
    }

    &__title {
      grid-area: title;
      font-size: 2rem;
      width: 100%;
      margin: 0; // overriding styles in .main__title

      @media (min-width: map-get($breakpoints, tablet-min)) {
        align-self: end;
      }
    }

    &__content {
      grid-area: content;
      @include flex(column, $align-i: start, $gap: 20px);

      &-text {
        @include flex(column, $gap: 5px);
        font-size: 1rem;
      }
    }

    &__link {
      // "Contáctanos" button
      &#contactButton {
        align-self: center;

        @media (min-width: map-get($breakpoints, tablet-min)) {
          width: 175px;
          align-self: flex-end;
        }
      }

      &s {
        width: 100%;
        @include flex(column, space-around, center, 5px);

        @media (min-width: map-get($breakpoints, tablet-min)) {
          @include flex(row, center, end, 30px);
        }
      }

      &-container {
        width: 100%;
        @include flex(column, $align-i: center, $gap: 2px, $flex: 50%);

        @media (min-width: map-get($breakpoints, tablet-min)) {
          flex: 0 1 300px;
        }
      }

      &-label {
        text-align: center;
      }

      & {
        width: 100%;
        @media (min-width: map-get($breakpoints, mobile-min)) and (max-width: map-get($breakpoints, tablet-max)) {
          width: 300px;
        }
      }
    }

    &__aside {
      grid-area: aside;
      height: 100%;
      overflow: hidden;
      &-img {
        max-height: 60vh;
        height: 100%;
        // width: unset;
      }
    }
  }
}
