/* START RESETS */
* {
  font-family: "Open Sans", sans-serif;
  --outer-space: #36413eff;
  --cream: #edeec9ff;
  --tea-green: #bfd8bdff;
  --davys-gray: #5d5e60ff;
  --blue-munsell: #0892a5ff;
  --chestnut: #a24936ff;
  --powder-blue: #95b8d1ff;
  --hunyadi-yellow: #edb458ff;
  --jet: #282b28ff;
  --asparagus: #68a357ff;
  --header-footer-height: 80px;
  --main-container-height: calc(100vb - 2 * var(--header-footer-height));

  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Asap", sans-serif;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}
body {
  position: relative;
  min-height: 100%;
}
ul,
ol {
  padding: 0;
  margin: 0;
}
ul {
  list-style-type: none;
}
a,
a:link,
a:visited,
a:hover {
  text-decoration: none;
  color: black;
}
/* END RESETS */

/* STYLES FOR HEADER AND FOOTER */
/* header,
footer {
  height: var(--header-footer-height);
  background-color: var(--asparagus);
  position: absolute;
  width: 100%;
  z-index: 1000;
}
header > * {
  display: inline-block;
  vertical-align: middle;
} */

/* .header-buttons-container {
  width: 20%;
}
.header-button {
  display: block;
  margin: auto auto;
  background-color: unset;
  border: none;
}
.titles-container {
  box-sizing: border-box;
  width: 59%;
  height: 100%;
  padding: 10px;
}
.titles-container * {
  text-align: center;
  margin: 0;
  padding: 0;
  margin: 0 auto;
}
.titles-container h1 {
  margin: -5px 0 5px 0;
}
.horizontal-buttons-container {
  width: 20%;
}
.horizontal-buttons {
  text-align: center;
}
.horizontal-buttons > li {
  display: inline-block;
}
.horizontal-buttons > li:not(:first-child) {
  margin-left: 10px;
}
.header-icons {
  height: 25px;
  cursor: pointer;
} */
.header,
.header > * {
  display: flex;
}
.header {
  width: 100%;
  padding: 5px 0;
  justify-content: space-around;
  align-items: center;
  background-color: var(--asparagus);
  gap: 5%;
  position: relative;
}
.header__titles {
  flex: 1 0 50%;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
}
.header__title {
  text-align: center;
}
.header__title--main {
  font-size: 1.8rem;
}
.header__title--secondary {
  font-size: 1.2rem;
}
.header__buttons-container {
  flex: 1 0 20%;
  justify-content: center;
  align-items: center;
}
.header__buttons-container--social {
  gap: 10px;
}
.header__social-icon {
  font-size: 1.3rem;
}
.navibar {
  border-radius: 0 0 10px 10px;
}
.navibar--absolute {
  width: 100%;
  position: absolute;
  z-index: 1000;
  background-color: var(--hunyadi-yellow);
}
.navibar__list {
  padding: 5px 25px;
  display: flex;
  flex-flow: column;
  gap: 10px;
}
.navibar__link:not(.active) {
  opacity: 0.6;
  font-weight: 500;
}
.navibar__link.active {
  font-weight: 700;
}
.navibar__link:hover:not(.active) {
  opacity: 1;
}


footer {
  bottom: 0;
}
.go-up-button {
  cursor: pointer;
  border-radius: 50%;
  position: fixed;
  right: 0;
  left: 98%;
  transform: translateX(-100%);
  top: 86vh;
  --diameter: 45px;
  width: var(--diameter);
  height: var(--diameter);
  font-size: 30px;
}
/* END STYLES FOR HEADER AND FOOTER */

/* STYLES FOR CONTAINER OF SIDEBAR */
.spinal-chord-container {
  min-height: var(--main-container-height);
  padding: var(--header-footer-height) 0;
  position: relative;
}

.spinal-chord-container > * {
  display: inline-block;
  box-sizing: border-box;
}

#sidebar {
  background-color: var(--cream);
  padding: 100px 0;
  width: 19%;
  position: absolute;
  top: 0;
  height: 100%;
}
#sidebar .add-margin-down {
  margin-bottom: 20px;
}
.navigation__link:link,
.navigation__link:visited {
  color: var(--jet);
  font-weight: 500;
}
.navigation__link:hover {
  color: var(--cream);
}
.button__rounded-right {
  width: 100%;
  height: 50px;
  font-size: 14px;
  background-color: var(--tea-green);
  border: none;
  border-left: none;
  --radius: 20px;
  border-radius: 0 var(--radius) var(--radius) 0;
  cursor: pointer;
  padding: 0;
  box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.25);
}
.button__rounded-right:active {
  box-shadow: none;
}
.navigation__link {
  box-sizing: border-box;
  padding: calc((50px - (14px + 4px)) / 2) 0px;
  display: block;
  width: 100%;
  height: 100%;
}
/* END STYELS FOR CONTAINER OF SIDEBAR */

/* STYLING MAIN */
main {
  padding-left: calc(19% + 15px);
  padding-right: 15px;
  text-align: end;
  font-size: 18px;
}
.main-title {
  font-size: 28px;
  text-align: start;
}

/* STYLING MAINS IN INDEX AND THE OTHER SECTIONS */
#index-main > .text-button-container > p,
#index-main h2 {
  text-align: start;
}
#index-main h2 {
  font-size: 30px;
}
#gallery-main,
#contact-main,
#about-main,
#payment-main {
  width: 100%;
  text-align: start;
}
/* ENDS STYLING MAINS */

/* STYLING REUSABLE BUTTONS */
.other-buttons {
  margin: 50px 0;
  text-align: center;
}
.other-buttons > .text-button-container:first-child {
  margin-right: 160px;
}
.other-buttons > .text-button-container {
  text-align: center;
  display: inline-block;
}
.button__rounded-both {
  border: none;
  border-radius: 30px;
  height: 50px;
  width: 200px;
  box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.25);
  font-size: 16px;
}
.button__rounded-both > .navigation__link {
  padding: 14px 0;
}
/* END REUSABLE BUTTONS */

/* STYLING CONTACT SECTION */
#contact-main {
  text-align: end;
}
.form-label-container {
  margin-bottom: 10px;
  text-align: start;
}
.form-label-container > label {
  width: 35%;
  vertical-align: top;
}
.form-label-container > input,
.form-label-container > textarea {
  width: 60%;
}
.form-label-container > label,
.form-label-container > input {
  display: inline-block;
}
#comment-textarea {
  width: 100%;
}
#submit-button {
  margin-top: 20px;
}
/* END STYLES OF CONTACT SECTION */

/* STYLING IMAGE CARDS OF PROJECT GALLERY */
.image-card {
  background-color: rgb(207, 164, 36);
  color: rgb(0, 0, 0);
  margin: 10px;
  border-radius: 8px;
  min-height: 40vh;
}
.card-side-container {
  padding: 10px;
}
.card-side.left {
  text-align: center;
}
.card-side p {
  text-align: start;
}
.card-side *:not(:last-child) {
  margin-bottom: 10px;
}
.project-image {
  max-width: 95%;
}

/* STYLES OF ABOUT SECTION */
.about__team-photo {
  margin-bottom: 10px;
}
.about__team-photo > * {
  text-align: center;
}
.about__team-photo > img {
  display: block;
  margin: 0 auto;
  max-width: 50%;
}
.photo__title {
  margin: 0;
}
.photo__caption {
  font-size: 10px;
}
