@import url("https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:wght@400;500;600;700;800&display=swap");
*,
html,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p {
  margin: 0;
  padding: 0;
}

/* Putting height: 100% in the body and min-height: 100% is a combination that makes your page have a height that covers all the available height of the device, without leaving empty space at the end of the page, and even if you don't have content in the page. Additionally, by making body a flex container we can tell the inner containers to take all available space with the use of flex: 1  */
html {
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Asap", sans-serif;
  font-weight: 600;
}

ul {
  list-style-type: none;
}

a, a:link, a:visited, a:hover {
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

img {
  object-fit: cover;
  width: 100%;
}

::-webkit-scrollbar {
  width: 7px;
  border: 5px solid white;
}

::-webkit-scrollbar-thumb {
  background-color: #7b7b7b;
  background-clip: padding-box;
  border: 0.05em solid #eeeeee;
}

::-webkit-scrollbar-track {
  background-color: #bbbbbb;
}

/* Buttons */
::-webkit-scrollbar-button:single-button {
  background-color: #bbbbbb;
  display: block;
  border-style: solid;
  height: 13px;
  width: 16px;
}

/* Up */
::-webkit-scrollbar-button:single-button:vertical:decrement {
  border-width: 0 8px 8px 8px;
  border-color: transparent transparent #555555 transparent;
}

::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
  border-color: transparent transparent #777777 transparent;
}

/* Down */
::-webkit-scrollbar-button:single-button:vertical:increment {
  border-width: 8px 8px 0 8px;
  border-color: #555555 transparent transparent transparent;
}

::-webkit-scrollbar-button:vertical:single-button:increment:hover {
  border-color: #777777 transparent transparent transparent;
}

.tablet-hidden {
  display: none;
}
@media (min-width: 768px) {
  .tablet-hidden {
    display: block;
  }
}

.body-container {
  flex: 1;
  display: flex;
  position: relative;
}

.header {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  gap: 5%;
  width: 100%;
  padding: 5px 0;
  position: relative;
  background-color: #68a357;
}
.header__buttons {
  flex: 1 0 20%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}
.header__buttons--social {
  gap: 10px;
}
.header__logo-container {
  flex: 0 0 200px;
  height: 100%;
  padding: 5px 10px;
}
.header__logo {
  object-fit: contain;
  max-height: 50px;
}
.header__titles {
  flex: 1 0 40%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
}
@media (min-width: 768px) {
  .header__titles {
    display: flex;
    flex-flow: row;
    gap: 15px;
  }
}
.header__title {
  text-align: center;
}
.header__title--main {
  font-size: 1.6rem;
}
.header__title--secondary {
  font-size: 0.9rem;
}
.header__icon-social {
  font-size: 1.3rem;
  color: #000000;
}

.navibar {
  display: none;
  background-color: #edeec9;
}
@media (min-width: 768px) {
  .navibar {
    flex: 0 0 200px;
    display: block;
    padding-top: 100px;
    width: 200px;
  }
}
.navibar * {
  color: #4c4c4c;
  font-weight: 600;
}
@media (min-width: 768px) {
  .navbar#navbarTogglerContainer, .navibar--header {
    display: none;
  }
}

.navibar__toggler, .navibar__toggler:focus {
  box-shadow: 0 0 0 0.5px rgba(0, 0, 0, 0.184);
}
.navibar__list {
  display: flex;
  flex-flow: column;
  justify-content: center;
  gap: 20px;
}
.navibar__link {
  flex: 0 1 300px;
  display: flex;
  align-items: center;
  width: 95%;
  padding: 12px;
  padding-left: 5px;
  border-radius: 0 20px 20px 0;
}
.navibar__link:hover, .navibar__link.active-link {
  box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.25);
}
.navibar__link:hover, .navibar__link-text {
  transition: all 0.5s ease-in-out;
}
.navibar__link:not(.navibar__link.active-link):hover {
  background-color: #066774;
}
.navibar__link:hover > .navibar__link-text {
  transform: translateX(10px);
}
.navibar__link.active-link {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #bfd8bd;
  cursor: default;
}
.navibar--header {
  display: flex;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 8px 15px -3px rgba(0, 0, 0, 0.15);
}
.navibar--header--absolute {
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1000;
}
.navibar--header__list {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 5px;
  padding: 10px 0;
}
.navibar--header__list, .navibar--header__list-element {
  width: 100%;
}
.navibar--header__list-element {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}
.navibar--header__link {
  display: flex;
  flex-flow: row;
  justify-content: center;
  padding: 5px;
}
.navibar--header__link-text {
  text-align: center;
}
.navibar--header__link:hover, .navibar--header__link-text {
  transition-property: background-color, transform;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}
.navibar--header__link:hover > .navibar--header__link-text {
  transform: translateY(-1px);
}

.footer {
  flex: 0;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  background-color: #68a357;
  padding: 10px;
  display: none;
}
.footer__links {
  display: flex;
  flex-flow: row;
  justify-content: center;
  gap: 20px;
}
.footer__link {
  min-width: 200px;
}
.footer__link:link:not(:hover):not(:active) {
  box-shadow: none;
}

footer.footer .footer__link:focus, footer.footer .footer__link:hover, footer.footer .footer__link:active.btn:active {
  border-color: rgba(0, 0, 0, 0);
  background-color: #066774;
}

.go-to-top-button, .go-to-top-button:visited {
  cursor: pointer;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 0;
  bottom: 65px;
  left: 98%;
  height: 45px;
  width: 45px;
  transform: translateX(-100%);
  border-radius: 50%;
  font-size: 30px;
  color: #000;
  background-color: #0892a5;
  box-shadow: inset 0 -1px 6px 3.2px rgba(0, 0, 0, 0.25);
}

.main {
  flex: 1;
  padding: 25px;
}
@media (min-width: 576px) {
  .main {
    padding: 15px;
  }
}
.main__title {
  font-size: 2rem;
  margin-bottom: 15px;
}

._input-group {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  gap: 2px;
  width: 100%;
}
@media (min-width: 576px) {
  ._input-group {
    display: flex;
    flex-flow: row;
    gap: 0;
    border: 1px solid #c5c0c0;
    border-radius: 7px;
  }
}
._input-group__label {
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}
@media (min-width: 576px) {
  ._input-group__label {
    font-size: initial;
    font-weight: 500;
    text-transform: initial;
    letter-spacing: initial;
    white-space: nowrap;
    background-color: #ada5a5;
    border-right: 1px solid #c5c0c0;
    border-radius: 7px 0 0 7px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
  }
  ._input-group__label,
  input[type=file].form-control {
    padding: 7px 10px;
  }
}

select.form-select,
input.form-control,
textarea.form-control {
  width: 100%;
  border: 1px solid #c5c0c0;
}
@media (min-width: 576px) {
  select.form-select,
  input.form-control,
  textarea.form-control {
    flex: 1;
    padding: 0;
    padding-left: 5px;
    border: none;
  }
}

.main--homepage {
  display: grid;
  grid-template-areas: "title    title" "content  aside";
  grid-template-rows: repeat(2, min-content);
  grid-template-columns: 60fr 40fr;
  row-gap: 10px;
  column-gap: 15px;
  align-items: start;
  font-size: 18px;
  padding: 20px;
}
@media (min-width: 768px) {
  .main--homepage {
    grid-template-areas: "title    aside" "content  aside";
    padding: 5% 10%;
  }
}
.main--homepage__title {
  grid-area: title;
  font-size: 2rem;
  width: 100%;
  margin: 0;
}
@media (min-width: 768px) {
  .main--homepage__title {
    align-self: end;
  }
}
.main--homepage__content {
  grid-area: content;
  display: flex;
  flex-flow: column;
  align-items: start;
  gap: 20px;
}
.main--homepage__content-text {
  display: flex;
  flex-flow: column;
  gap: 5px;
  font-size: 1rem;
}
.main--homepage__link#contactButton {
  align-self: center;
}
@media (min-width: 768px) {
  .main--homepage__link#contactButton {
    width: 175px;
    align-self: flex-end;
  }
}
.main--homepage__links {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  gap: 5px;
}
@media (min-width: 768px) {
  .main--homepage__links {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: end;
    gap: 30px;
  }
}
.main--homepage__link-container {
  width: 100%;
  flex: 50%;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 2px;
}
@media (min-width: 768px) {
  .main--homepage__link-container {
    flex: 0 1 300px;
  }
}
.main--homepage__link-label {
  text-align: center;
}
.main--homepage__link {
  width: 100%;
  background-color: #edb458;
}
@media (min-width: 576px) and (max-width: 767px) {
  .main--homepage__link {
    width: 300px;
  }
}
.main--homepage__link:focus, .main--homepage__link:hover, .main--homepage__link:active.btn:active {
  background-color: #e89f2a;
  border-color: #edb458;
}
.main--homepage__aside {
  grid-area: aside;
  height: 100%;
}
.main--homepage__aside-img {
  max-height: 60vh;
  object-fit: cover;
}

.main--gallery__selects {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  gap: 12px;
}

.photocards {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 20px;
}
@media (min-width: 400px) {
  .photocards {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
@media (min-width: 576px) {
  .photocards {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
}
@media (min-width: 768px) {
  .photocards {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
}
@media (orientation: landscape) and (max-height: 575px) {
  .photocards {
    grid-template-columns: minmax(0, 1fr);
  }
}
.photocard {
  height: 80vh;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  gap: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: #edb458;
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.34);
}
@media (min-width: 576px) {
  .photocard {
    padding: 20px;
  }
}
@media (min-height: 768px) {
  .photocard {
    height: 800px;
  }
}
@media (orientation: landscape) and (max-height: 575px) {
  .photocard {
    height: 20rem;
    display: flex;
    flex-flow: row;
    justify-content: center;
    gap: 10px;
  }
}
.photocard__footer {
  flex: 1;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  padding: 10px;
  font-weight: 400;
  border-radius: 8px;
  box-shadow: inset 0 -2px 18px -2px rgba(0, 0, 0, 0.343);
}
@media (orientation: landscape) and (max-height: 575px) {
  .photocard__footer {
    height: 100%;
  }
}

._carousel-container {
  width: 100%;
  max-height: 50%;
}
@media (min-width: 576px) {
  ._carousel-container {
    max-height: 40%;
  }
}
@media (orientation: landscape) and (max-height: 575px) {
  ._carousel-container {
    flex: 0 1 40%;
    display: flex;
    flex-flow: column;
    justify-content: stretch;
    align-items: center;
    width: 40%;
    height: 100%;
    max-height: 100%;
  }
}
._carousel {
  margin: 0 auto;
  height: 100%;
  width: auto;
  aspect-ratio: 4/3;
}
@media (orientation: landscape) and (max-height: 575px) {
  ._carousel {
    margin: unset;
    aspect-ratio: unset;
    height: 100%;
    width: 100%;
  }
}
._carousel__photos, ._carousel__photo-container {
  height: 100%;
}
._carousel__photos, ._carousel__photo-container, ._carousel__photo {
  border-radius: 10px;
}
._carousel__photos {
  filter: drop-shadow(0 0 15px rgba(29, 27, 27, 0.5));
}
._carousel__photo {
  display: block;
  height: 100%;
  aspect-ratio: 4/3;
}

/* END STYLES FOR GALLERY */
/* STYLING CONTACT SECTION */
.main--contact {
  flex: 0 1 800px;
  margin: 0 auto;
}
.main--contact-form {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 5px;
}
@media (min-width: 576px) {
  .main--contact-form {
    gap: 10px;
  }
}
.main--contact-form__submit-button {
  align-self: flex-end;
  background-color: #bfd8bd;
  padding-left: 30px;
  padding-right: 30px;
}
.main--contact-form__submit-button:hover, .main--contact-form__submit-button:focus, .main--contact-form__submit-button:active.btn:active {
  background-color: #a0c59d;
  border-color: #bfd8bd;
}

/* END STYLES OF CONTACT SECTION */
/* STYLES OF ABOUT SECTION */
.main--contact {
  flex: 0 1 800px;
  margin: 0 auto;
}
.main--contact-form {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 5px;
}
@media (min-width: 576px) {
  .main--contact-form {
    gap: 10px;
  }
}
.main--contact-form__submit-button {
  align-self: flex-end;
  background-color: #bfd8bd;
  padding-left: 30px;
  padding-right: 30px;
}
.main--contact-form__submit-button:hover, .main--contact-form__submit-button:focus, .main--contact-form__submit-button:active.btn:active {
  background-color: #a0c59d;
  border-color: #bfd8bd;
}

/* END STYLES OF ABOUT SECTION */
/* GLOBAL UTILITY STYLES AND SOME BOOTSTRAP OVERRIDES */
.centers-children {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Bootstrap btn overrides */
.btn {
  box-shadow: 0 8 15px -3px rgba(0, 0, 0, 0.15);
  border: 2px solid rgba(0, 0, 0, 0);
  color: #272727;
  font-weight: 500;
}

/* Own button styles */
.button--link:focus, .button--link:hover, .button--link:active {
  color: #222222;
  font-weight: 600;
  border-width: 2px;
  border-style: solid;
}
.button--rounded {
  border-radius: 20px;
}

/*# sourceMappingURL=styles.css.map */
